html {
  font-size: 11px;
  font-family: 'Merriwather', serif;
  background-color: #F8F7EC;
}

h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #007510;
  text-shadow: 3px 3px 2px black;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: rgb(255, 218, 165);
  padding: 0 20px 20px 20px;
  border: 3px solid black;
}

img {
  display: block;
  margin: 0 auto;
  width: 500px;
}